@font-face {
  font-family: 'BMJUA';
  src: url('./fonts/BMJUA.ttf') format('truetype'); 
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('./fonts/NotoSansKR.ttf') format('truetype'); 

}@font-face {
  font-family: 'MapleBold';
  src: url('./fonts/Maplestory\ Bold.ttf') format('truetype'); 
}
@font-face {
  font-family: 'MapleLight';
  src: url('./fonts/Maplestory\ Light.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Maple';
  src: url('./fonts/Maplestory\ Bold.ttf') format('truetype'); 
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
